.profileHeader {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #DDE8FB;
  background-image: url("/images/transparent.png");
}

.profile {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile img {
  border-radius: 50%;
  width: 200px;
  height: 180px;
}

.profileID {
  margin-top: 10px;
}


/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .profileHeader {
    height: 400px;
    min-width: 30%;
    margin: 40px 0px 0px 30px;
    justify-content: center;
    background-color: #DDE8FB;
    background-image: url("/images/transparent.png");
  }
}

