.profileHeader {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: darkgray;
  background-image: url("/images/transparent.png");
}

.profile {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

