body nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 120px;
  background-color: #4056A1;
  color: #FFFF;
  padding: 1.5em; 
  position: fixed;
  top: 0;
  width: 100%;
}

nav span {
  font-family: 'Bungee';
  font-size: 30px;
}

.newTweet {
  display: flex;
  flex-direction: column;
}

.newTweet i {
  animation: bounce 2000ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  margin-top: 18px;
  height: 20px;
  transform: rotate(0deg);
  transform-origin: 0% 0%;
}

.newTweet i:after {
  transform: rotate(-90deg);
  transform-origin: 0% 100%;
}

@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
}

nav p {
  font-size: 20px;
  margin: 0;
}

nav i {
  color: red;
  margin-left: 50%;
  margin-top: 3px;
}

.newTweet:hover{
  cursor: pointer;  
}

