.compose {
  display: flex;
  justify-content: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

.show{
  display:flex;
}

#tweet-text {
  border-style: none none solid none;
  background-color: #f4f1ec;
  border-width: 4px;
  margin-top: 5px;
  width: 600px;
  resize: none;
  font-size: 20px;
  height: 40px;
}

textarea:focus {
  outline: none;
}

.tweetAndcount {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.counter {
  font-family: 'Bungee';
  font-size: 20px;
  margin-right: 20px;
  color: black;
}

button {
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee';
  font-size: 20px;
}

button:hover {
  background-color: white;
  color: #4056A1;
  cursor: pointer;
}

.error {
  color: red;
}

.validation-error{
  border-style: solid;
  border-width: 3px;
  padding: 20px;
  border-color: red;
  display: none;
}

.validation-error i {
  display: inline-block;
  color: red;
  margin: 0px 5px 0px 5px;
}  

#error-message{
  display: inline-block;
  flex-direction: row;
  font-size: 20px;
  color: red;
  margin: 0px;
  padding: 0px;
}

#movetoTop {
  display: none;
  position: fixed;
  right: 0;
  bottom: 20px;
  background-color: #f4f1ec;
  border-style: none;
  color: red;
  font-size: 65px;
}



